# ignore ALL of these types of files
*.aux
*.bbl
*.blg
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.loa
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.synctex*
*.snm
*.fdb*
*.toc
*.fls
*eps-converted-to.pdf
*.pdn
build/
